:root{
    --back_color:rgb(255, 231, 231);
    --main_color:rgb(148, 78, 99);
    --seco_color:rgb(180, 123, 132);
    --tert_color:rgb(202, 166, 166);


    --webpage_width:1200px;
}
body{
    margin:0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 0;
    background-color: var(--back_color);
}

.body-container{
    position: relative;
    max-width: var(--webpage_width);
    margin: 0 auto;
}
.navbar{
    /* background-color: var(--tert_color); */
    width:100%;
    margin-bottom: 10px;
}
.navbar .top{
    /* background-color: var(--seco_color); */
    border-bottom: 1px solid var(--seco_color);
    max-width: var(--webpage_width);
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0px 10px 0px 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link-holder{
    display: flex;
    align-items: center;
}
.link-holder .link{
    padding: 10px;
    cursor: pointer;
}
.navbar .top .link-holder .link{
    margin-left: 10px;
    font-size: 0.9em;
    font-weight: 500;
    border-radius: 10px;
    padding: 2px 5px;
    border:solid 1px var(--main_color)
}
.navbar .top .link-holder .link:hover{
    background-color: var(--main_color);
    color:white;
    font-weight: 500;
}
.link-holder .highlight{
    background-color: var(--main_color);
    padding: 8px;
    color:white;
    font-weight: 500;
}
.link-holder .highlight:hover{
    margin-left: 10px;
    font-size: 0.9em;
    font-weight: 500;
    border-radius: 10px;
    padding: 2px 5px;
    border:solid 1px var(--main_color)
}
.link-holder .link:hover{
    background-color: rgba(255,255,255,0.3);
}
.navbar .bottom{
    max-width: var(--webpage_width);
    margin: 0 auto;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.Hero_BackGround{
    position: absolute;
    width:100%;
    height:100vh;
}
.Hero_BackGround img{
    width:100%;
}



.navbar .bottom .link-holder{
    height: 100%;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-end;
    max-width: 400px;
}
.logo{
    height: 100%;
}
.logo img{
    height: 100%;
}

